<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.artifex.mupdf.mini">

    <application>
        <activity
            android:name=".DocumentActivity"
            android:label="MuPDF mini"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity
            android:name=".OutlineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
    </application>
</manifest>
